* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: px solid black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.overflow {
    overflow: hidden;
}

a {
    text-decoration: none;
}

.link-block {
    display: block;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

/* ========================== Header =========================== */

.container-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.container_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}


.container-logo {
    max-width: 120px;
    width: auto;
    height: auto;
}

.container-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    height: auto;
}


.header-logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}


.nav-link-home {
    font-weight: 500;
    font-size: 10px;
    color: rgba(209, 169, 84, 1);
    text-transform: uppercase;
    border: 1px solid rgba(209, 169, 84, 0.9);
    padding: 3px 5px 2px;
    margin: 1px 5px;
}

.nav-link-active {
    font-weight: 700;
    font-size: 11px;
    color: rgba(209, 169, 84, 1);
    text-transform: uppercase;
    margin: 0 10px;
}

.nav-link {
    font-weight: 400;
    font-size: 11px;
    color: #000;
    text-transform: uppercase;
    margin: 0 10px;
}

.container-burger {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: auto;
}


.burger-button {
    border: none;
    background: none;
}

.container-responsive-menu {
    position: fixed;
    top: 0;
    left: 0;    
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    z-index: 999;
}

.container-responsive-menu .inner-responsive-menu {
    display: flex;
    flex-wrap: wrap;
    animation: smokeEffect 0.5s forwards;
    max-width: 1000px;
    width: auto;
    height: auto;
    max-height: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

@keyframes smokeEffect {
    0% {transform: translate(0px, 25px); opacity: 0;}
    100% {transform: translate(0px, 30px); opacity: 1;}
}


.inner-responsive-menu .con-links {
    width: auto;
    height: auto;
}

.nav-res-text {
    font-weight: 400;
    font-size: 120%;
    color: #000;
}

.inner-con-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0px 0px 40px;
}

.close-burger {
    border: none;
    background: none;
    font-weight: 800;
    font-size: 120%;
    color: #000;
    cursor: pointer;
}

/* ========================== Cards =========================== */

.cards-section {
    padding: 0px 0px;
}

.container-cards {
    max-width: 1400px;
    margin: 0 auto;
}

.row-cards {
    margin: 0;
}

.cards-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.row-cards > .col-mg {
    padding: 20px;
}

.row-cards .box {
    position: relative;
    overflow: hidden;
}

.row-cards .inner-box {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(209, 169, 84, 0.9);
    padding: 10px 8px;
    transition: 0.3s;
}


.row-cards .inner-box div {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 8px 10px;
}

.corpotative-text {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.corpotative-descr {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin: 0;
}

.container-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0px 30px;
}

.inner-slider {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    height: auto;
}

.left-arrow {
    border: none;
    background: none;
    color: rgba(0, 0, 0, 1);
    font-size: 10px;
    padding: 0px 6px;
}

.slider-length {
    position: relative;
    width: 120px;
    height: 2px;
    background: rgba(229, 229, 229, 1);
}

.slider-length-position {
    position: absolute;
    top: 0;
    width: 20px;
    height: 2px;
    background: rgba(0, 0, 0, 1);
}

.right-arrow {
    border: none;
    background: none;
    color: rgba(0, 0, 0, 1);
    font-size: 10px;
    padding: 0px 6px;
}

/* ========================== About Restoraunt =========================== */

.about-rest-section {
    padding: 50px 0px 300px;
}

.container-about {
    max-width: 900px;
    margin: 0 auto;
}

.inner-about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.about-rest_text {
    font-weight: 300;
    font-size: 36px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.about-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}


.about-rest-descr {
    font-weight: 400;
    font-size: 9px;
    color: #000;
    text-transform: uppercase;
    padding: 8px 0px 0px;
    text-align: center;
}

.container-about .row {
    margin: 0;
}

.row-video {
    position: relative;
    margin: 0 -15px;
}

.row-video > .col-12 {
    position: absolute;
    padding: 20px;
}

.row-video > .col-12 > .box {
    position: relative;
}

.video-bg-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.video-btn {
    position: absolute;
    top: 42%;
    left: 46%;
    font-size: 20px;
    width: 55px;
    height: 55px;
    color: #fff;
    border: none;
    background: rgba(209, 169, 84, 1);
    border-radius: 99em;
    cursor: pointer;
}

/* ========================== Restourant's descr =========================== */

.descr-section {
    padding: 250px 0px 30px;
    background: rgb(249,247,247);
}

.descr-section .row {
    margin: 0;
}

.row-descr {
    margin: 0 -15px;
}

.row-descr .row {
    margin: 0;
}

.row-descr > .col-6 {
    padding: 20px;
}

.row-descr > .col-6-h .row {
    height: 100%;
}

.row-descr > .col-6  .box-info {
    padding: 0px 50px 0px 0px;
}

.row-descr > .col-6  .box-info > div {
    margin: 0 auto;
    max-width: 160px;
    height: auto;
}

.logo-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 0 20px;
}

.your-welcome__text {
    font-weight: 400;
    font-size: 14px;
    color: rgba(97, 97 , 97 , 1);
}

.your-welcome__descr {
    font-weight: 400;
    font-size: 14px;
    color: rgba(97, 97 , 97 , 1);
}

.cards-lead-img {
    width: 100%;
    height: auto;
}

.row-small-cards .col-6 .box-lead {
    display: flex;
    flex-wrap: nowrap;
}

.row-small-cards > .col-6 .box-lead div {
    width: auto;
    height: auto;
}

.cards-lead_text {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    padding: 7px 0 0 10px;
}

.cards-lead-descr {
    font-weight: 400;
    font-size: 10px;
    color: #000;
    line-height: 18px;
    text-transform: uppercase;
    padding: 10px 0px 0px;
}


.gallery-section {
    padding: 100px 0;
}

.row-gallery {
    gap: 8px;
}

.row-gallery  .col-12 {
    width: 100%;
    padding: 0;
}

.row-gallery .col-12 .row-inner {
    margin: 0;
}

.row-gallery .col-12 .row {
    --bs-gutter-x: none;
    margin: 0;
}

.row-inner  .col-3 {
    padding: 10px;
    width: 23%;
}

.row-inner .col-c-3 .box-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery_text {
    font-size: 24px;
    text-align: center;
    color: #000;
    padding: 0;
}

.gallery_descr {
    font-size: 12px;
    text-align: center;
    color: #000;
    padding: 5px 0 0;
}

.row-inner  .col-c-3 {
    padding: 10px;
}


.row-inner  .col-c-5 {
    padding: 10px;
}

.row-inner  .col-c-4 {
    padding: 10px;
}

.row-inner .box {
    width: auto;
    height: 100%;
}

.row-inner-two  .col-pd-7 {
   padding: 10px; 
}


.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row-inner-three  .col-pd-12 {
    padding: 10px;
}

.row-inner-three  .col-pd-12 .box {
    height: 100%;
}

.download-section {
    padding: 100px 0;
    background: url(../assets/bg/2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-download {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-download .inner-download {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.container-download .inner-download .inner-box {
    padding: 20px 0px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.know-about-us__text {
    font-size: 36px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.dow-plan {
    padding: 12px 50px;
    border: none;
    background: #fff;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}


.dow-present {
    padding: 12px 50px;
    border: none;
    background: #fff;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}


.contacts-section {
    padding: 50px 0;
}

.container-contacts .row {
    --bs-gutter-x: none;
}

.row-contacts > .col-pd-6 {
    padding: 10px;
}

.row-contacts .col-pd-6 .box {
    height: 100%;
}

.do-you-want__text {
    font-size: 38px;
    color: #000;
}

.do-you-want__descr {
    font-size: 12px;
    color: gray;
}

.row-contacts .row-contacts-inner .col-pd .box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

.row-contacts .row-contacts-inner .col-pd .box .box-inner {
    display: flex;
    flex-wrap: nowrap;
    gap: 0 9px;
}

.row-contacts .row-contacts-inner {
    margin: 30px 0 0;
}

.contacts-restoraunt_text {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
}

.contacts-restoraunt_position {
    font-size: 12px;
    color: #000;
    text-decoration: underline;
    padding: 0 5px 0 0;
}

.contacts-restoraunt_phone {
    position: relative;
    font-size: 13px;
    color: #000;
}

.contacts-restoraunt_letter {
    font-size: 13px;
    color: #000;
}

.row-contacts .col-pd-6 .box-inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.row-contacts .col-pd-6 .box-inputs div {
    margin: 20px 0 0;
}

.input-name {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(208, 208, 208, 1);
    outline: none;
    padding: 10px 2px;
    font-weight: 300;
    font-size: 14px;
    color: gray;
}

.input-mail {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(208, 208, 208, 1);
    outline: none;
    padding: 10px 2px;
    font-size: 14px;
    color: gray;
    margin: 10px 0 0;
}


.input-textarea {
    border: 1px solid rgba(208, 208, 208, 1);
    outline: none;
    padding: 10px 10px;
    font-size: 14px;
    color: gray;
    margin: 30px 0 0;
    resize: none;
}

.button-submit {
    font-size: 13px;
    text-align: center;
    padding: 10px 25px;
    color: #fff;
    background: rgba(209, 169, 84, 1);
    border: none;
    text-transform: uppercase;
}

/* ============================ Footer =========================== */

.outro-section {
    padding: 80px 0 30px;
    background: rgba(249, 247, 247, 1);
}

.container-outro {
    max-width: 450px;
    margin: 0 auto;
}

.container-outro .inner-outro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}

.our-inst_text {
    font-size: 36px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
}


.our-inst_descr {
    font-size: 9px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    padding: 8px 0 0;
}

.container-footer {
    width: 100%;
    margin: 0 auto;
}

.container-footer .row {
    margin: 0;
}

.container-footer .row-footer .col-12 {
    padding: 0;
}

.container-footer .row-footer .col-2 .box {
    height: 100%;
}

.footer-img {
    width: 100%;
    height: auto;
}

.row-copyright .col-pd {
    padding: 5px 20px;
}

.row-copyright .col-pd .box-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 22px;
}

.copyright_text {
    font-weight: 300;
    font-size: 14px;
    color: #000;
}

.footer-link {
    font-weight: 300;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    position: relative;
}

.footer-link:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 75px;
    width: 22%;
    height: 1px;
    background: #000;
}

.footer-link:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    width: 22%;
    height: 1px;
    background: #000;
}

.copyright-section {
    padding: 30px 0 5px;
}